@model StadiumManagementSys.Models.Booking


@{
    ViewData["Title"] = "Booking Details";
}


<br />
<br />
<div class="container">


    <h2>Id             : @Model.RequestNo</h2>
    <h2>Name           : @Model.Name</h2>
    <h2>Class          : @Model.Email</h2>
    <h2>Phone          : @Model.Phone</h2>
    <h2>Bokking Start  : @Model.StartingDate</h2>
    <h2>Booking Finish : @Model.EndingDate</h2>
    <h2>Purpose        : @Model.Purpose</h2>
    <h2>Comment        : @Model.Comment</h2>

</div>